<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>

<h1>Velkommen til Bilabonnement.dk</h1>

<div class="button-container">
  <button class="button" onclick="location.href='/bil';">Fleet</button>
  <button class="button" onclick="location.href='/lejeaftaler';">Lejeaftaler</button>
  <button class="button" onclick="location.href='/skaderapporter';">Skaderapporter</button>
  <button class="button" onclick="location.href='/users';">User Management</button>
</div>

</body>
</html>