<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="users.css">
</head>
<body>
<h1>User Management</h1>

<nav>
    <div class="header-button-container">
        <a class="header-button" href="/bil">Fleet</a>
        <a class="header-button" href="/lejeaftaler">Lejeaftaler</a>
        <a class="header-button" href="/skaderapporter">Skaderapporter</a>
        <a class="header-button" href="/users">User Management</a>
    </div>
</nav>

<h2>Bruger Oversigt</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Stilling</th>
        <th>Opdater Bruger</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.user_id}"></td>
        <td th:text="${user.user_navn}"></td>
        <td th:text="${user.user_email}"></td>
        <td th:text="${user.user_telefonnummer}"></td>
        <td th:text="${user.user_rolle}"></td>
        <td>
            <form th:action="@{/users/update}" method="post">
                <input type="hidden" name="user_id" th:value="${user.user_id}" />
                <input type="text" name="user_navn" th:value="${user.user_navn}" required />
                <input type="email" name="user_email" th:value="${user.user_email}" required />
                <input type="password" name="user_password" th:value="${user.user_password}"required />
                <input type="tel" name="user_telefonnummer" th:value="${user.user_telefonnummer}" required />
                <select name="user_rolle" required>
                    <option value="" disabled selected>Vælg stilling</option>
                    <option value="Admin" th:selected="${user.user_rolle == 'Admin'}">Admin</option>
                    <option value="Dataregistrering" th:selected="${user.user_rolle == 'Dataregistrering'}">Dataregistrering</option>
                    <option value="Skade og udbedring" th:selected="${user.user_rolle == 'Skade og udbedring'}">Skade og udbedring</option>
                    <option value="Forretningsudvikler" th:selected="${user.user_rolle == 'Forretningsudvikler'}">Forretningsudvikler</option>
                </select>
                <button type="submit" class="opdater-bruger-knap">Opdater bruger</button>
            </form>
        </td>
    </tr>
</table>

<h2>Opret bruger</h2>
<form action="/users/create" method="post">
    <input type="text" name="user_navn" placeholder="Navn" required>
    <input type="email" name="user_email" placeholder="E-mail" required>
    <input type="password" name="user_password" placeholder="Password" required>
    <input type="tel" name="user_telefonnummer" placeholder="Telefonnummer" required>
    <select name="user_rolle" required>
        <option value="" disabled selected>Vælg stilling</option>
        <option value="Admin">Admin</option>
        <option value="Dataregistrering">Dataregistrering</option>
        <option value="Skade og udbedring">Skade og udbedring</option>
        <option value="Forretningsudvikler">Forretningsudvikler</option>
    </select>
    <button type="submit" class="opret-bruger-knap">Opret bruger</button>
</form>

<!-- Delete User Form -->
<h2>Slet bruger</h2>
<form action="/users/delete" method="post">
    <label for="user_id">Vælg den bruger som du vil slette:</label>
    <select name="selectedUserId" id="user_id" required>
        <option value="" disabled selected>Vælg bruger</option>
        <option th:each="user : ${users}" th:value="${user.user_id}" th:text="${user.user_navn}"></option>
    </select>
    <button type="submit" class="slet-bruger-knap">Slet bruger</button>
</form>

<footer>
    <nav>
        <div class="header-button-container">
            <a class="button" href="/bil">Fleet</a>
            <a class="button" href="/lejeaftaler">Lejeaftaler</a>
            <a class="button" href="/skaderapporter">Skaderapporter</a>
            <a class="button" href="/users">User Management</a>
        </div>
    </nav>
</footer>
</body>
</html>
